<main>
  <router-outlet></router-outlet>
</main>
<!--<section class="container">
  <button class="btn btn&#45;&#45;primary w-full w-md-auto">Update</button>
</section>
<section class="container">
  <a routerLink="">
    <article class="card card&#45;&#45;radius card&#45;&#45;elevated card&#45;&#45;clickable">
      <img class="card__image" src="/assets/PetPhoto.png" alt="Pet type" loading="lazy" />
      <div class="card__content">
        <span class="card__title">Pet name</span>
        <span class="card__description">Pet type</span>
      </div>
    </article>
  </a>
</section>
<section class="container">
  <article class="card card&#45;&#45;lg card&#45;&#45;radius card&#45;&#45;elevated w-full">
    <img class="card__image" src="/assets/PetPhoto.png" alt="Pet type" loading="lazy" />
    <div class="card__content">
      <span class="card__title">Pet name</span>
      <span class="card__description">Pet type</span>
    </div>
  </article>
</section>-->
