@import 'src/scss/mixins';
@import 'src/scss/variables';

.card {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100%;

  &:not(.card--lg) {
    .card__description {
      @extend .card--clamp;
    }
  }
}

.card--radius {
  border-radius: 16px;

  .card__image {
    border-radius: 16px 16px 0 0;
  }
}

.card--elevated {
  filter: drop-shadow(0px 4px 4px rgba(var(--color-black-rgb), 0.25));
}

.card--clickable {
  &:hover {
    cursor: pointer;
    opacity: $opacity-hover;
  }
}

.card__image {
  background-color: var(--color-lighter-gray);
  height: 120px;
  object-fit: cover;
  width: 100%;

  @media screen and (min-width: $breakpoint-md) {
    height: 160px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    height: 216px;
    margin-bottom: $spacer-8;
  }
}

.card__content {
  flex-grow: 1;
  padding: $spacer-16;

  @media screen and (min-width: $breakpoint-md) {
    padding: $spacer-20;
  }

  @media screen and (min-width: $breakpoint-lg) {
    padding: $spacer-24;
  }
}

.card__title {
  @extend .truncate;

  color: var(--color-dark-text);
  display: block;
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 22px;
  margin-bottom: $spacer-10;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: $spacer-16;
  }

  @media screen and (min-width: $breakpoint-lg) {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: $spacer-24;
  }
}

.card__description {
  color: var(--color-light-text);
  display: block;
  font-size: 12px;
  font-weight: $font-weight-regular;
  line-height: 18px;
  margin-bottom: $spacer-16;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 14px;
    line-height: 20px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: $spacer-24;
  }
}

.card--lg {
  @extend .card--scrollable;

  .card__title {
    font-size: 36px;
    line-height: 50px;

    @media screen and (min-width: $breakpoint-md) {
      font-size: 48px;
      line-height: 65px;
    }

    @media screen and (min-width: $breakpoint-lg) {
      font-size: 72px;
      line-height: 98px;
    }
  }

  .card__description {
    font-size: 20px;
    line-height: 28px;

    @media screen and (min-width: $breakpoint-md) {
      font-size: 28px;
      line-height: 38px;
    }

    @media screen and (min-width: $breakpoint-lg) {
      font-size: 36px;
      line-height: 50px;
    }
  }
}

.card--clamp {
  @include maxLinesEllipsis(var(--clamp-max-lines, 2));
}

.card--scrollable {
  .card__content {
    overflow: hidden;
  }

  .card__content-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  .card__title {
    flex-shrink: 0;
  }

  .card__description {
    overflow: auto;
  }
}

.card--loading {
  .card__image {
    @include loading-animation();
  }

  .card__title {
    @include loading-animation();

    border-radius: 4px;
    height: 22px;
    width: min(65%, 175px);

    @media screen and (min-width: $breakpoint-md) {
      height: 28px;
    }

    @media screen and (min-width: $breakpoint-lg) {
      height: 34px;
    }
  }

  .card__description {
    @include loading-animation();

    border-radius: 4px;
    height: 18px;
    width: min(85%, 210px);

    @media screen and (min-width: $breakpoint-md) {
      height: 20px;
    }

    @media screen and (min-width: $breakpoint-lg) {
      height: 22px;
    }
  }

  &.card--lg {
    .card__title {
      height: 50px;
      width: min(40%, 455px);

      @media screen and (min-width: $breakpoint-md) {
        height: 65px;
      }

      @media screen and (min-width: $breakpoint-lg) {
        height: 98px;
      }
    }

    .card__description {
      height: 28px;
      width: min(65%, 710px);

      @media screen and (min-width: $breakpoint-md) {
        height: 38px;
      }

      @media screen and (min-width: $breakpoint-lg) {
        height: 50px;
      }
    }
  }
}
