$font-family: 'Open Sans', Roboto, Helvetica, Arial, sans-serif;
$font-family-button: Nunito, $font-family;

$font-weight-regular: 400;
$font-weight-bold: 700;

$spacer-8: 8px;
$spacer-10: 10px;
$spacer-16: 16px;
$spacer-20: 20px;
$spacer-24: 24px;
$spacer-30: 48px;
$spacer-48: 48px;
$spacer-76: 76px;

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1400px;

$opacity-hover: 0.7;
