<ng-container *ngIf="clickable; else nonClickableContainer" [ngTemplateOutlet]="clickableContainer"></ng-container>

<ng-template #clickableContainer>
  <a [routerLink]="[animal.id]">
    <ng-container [ngTemplateOutlet]="cardContainer" [ngTemplateOutletContext]="{'classList': ['card--clickable']}"></ng-container>
  </a>
</ng-template>

<ng-template #nonClickableContainer>
  <ng-container [ngTemplateOutlet]="cardContainer"></ng-container>
</ng-template>

<ng-template #cardContainer let-classes="classList">
  <article class="card card--radius card--elevated" [class]="classes" [ngClass]="{'card--lg': large}">
    <img class="card__image" [src]="animal.avatar" [alt]="animal.type" loading="lazy" />
    <div class="card__content">
      <span class="card__title">{{animal.name}}</span>
      <span class="card__description">{{animal.type}}</span>
    </div>
  </article>
</ng-template>
